.container {
    max-width: 1030px;
    margin: 0 auto;
}
.body-page {
    background-image: url("/image/background-page.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-page {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    margin-bottom: 22px;
}
a:hover {
    color: #F26522;
}
.header-page-info:hover {
    background-image: url(../image/Logo_hover.png);

}
.info-item-logo:hover {
    visibility: hidden;
}

.info-item-logo:hover {
    color: #F26522;
}
.info-item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-item-title {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.info-item-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.page-info-item {
    display: flex;
    flex-direction: column;
    list-style: none;

}
.info-item-subtitle {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.info-item-email {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
   text-align: right;
    margin-bottom: 19px;

}
.info-item-phone {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
}

.Milan-services {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}

.services-item-title {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 37px;
}
.footer-info {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 15px;
}
.Milan-services {
  list-style: none;
}
.tour-services {
    position: relative;
}
.tour-services-description {
    width: 295px;
    height: 55px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 165px;
    background-color: #F26522;
    color: #FFFFFF;
    position: absolute;
    z-index: -1;
}


.tour-services-from {
    font-size: 10px;
    line-height: 10px;
   margin-top: 7px;
    margin-left: 16px;
}
.tour-services-price {
    font-size: 20px;
    line-height: 20px;
    margin-top: 29px;
    margin-left: 16px;
    position: absolute;

}
.tour-services-details {
    font-size: 14px;
    line-height: 14px;
    margin: 29px 37px 12px;

}
.tour-services-details::after {
    content:"   >"


}
.tour-services:hover > .tour-services-description {
    z-index: 1;
}
